@model ProjectsOnlyCRUDWithoutEntityTemplate.ViewModel.NotesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NotesViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="NoteId" class="control-label"></label>
                <input asp-for="NoteId" class="form-control" />
                <span asp-validation-for="NoteId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NoteName" class="control-label"></label>
                <input asp-for="NoteName" class="form-control" />
                <span asp-validation-for="NoteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urgency" class="control-label"></label>
                <input asp-for="Urgency" class="form-control" />
                <span asp-validation-for="Urgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
